[color]
    ui = always
[alias]
    today = log --since=midnight --graph --date=format:'%Y-%m-%d %a %H:%M:%S' --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Creset(%cr) %Cgreen%cn %Cred%d %Creset%s'
    yesterday = log --since=yesterday.midnight --graph --date=format:'%Y-%m-%d %a %H:%M:%S' --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Creset(%cr) %Cgreen%cn %Cred%d %Creset%s'
    week = log --since 'last week' --graph --date=format:'%Y-%m-%d %a %H:%M:%S' --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Creset(%cr) %Cgreen%cn %Cred%d %Creset%s'    graph = log --graph --date=format:'%Y-%m-%d %a %H:%M:%S' --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Creset(%cr) %Cgreen%cn %Cred%d %Creset%s'
    graph = log --graph --date=format:'%Y-%m-%d %a %H:%M:%S' --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Creset(%cr) %Cgreen%cn %Cred%d %Creset%s'
    gg = log --graph --date=format:'%Y-%m-%d %a %H:%M:%S' --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Creset(%cr) %Cgreen%cn %Cred%d %Creset%s' -10
    st = status
    d = diff
    co = checkout
[core]
    editor = vi
    quotepath = false
    pager = LESSCHARSET=utf-8 less -m
    autocrlf = input
[pull]
    rebase = true
[diff]
    ignoreSubmodules = all
[user]
