[color]
    ui = auto
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an:%ae>%Creset' --abbrev-commit --date=relative
    today = log --since=midnight --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold green)<%an:%ae>%Creset' --abbrev-commit --date=relative
    graph = log --graph --date=local --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cgreen%cn %Cred%d %Creset%s'
    g = log --graph --date=local --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cgreen%cn %Cred%d %Creset%s'
    st = status
    d = diff
    df = diff FETCH_HEAD
    mf = merge FETCH_HEAD
[core]
    editor = vi
    autocrlf = input
    quotepath = false
[diff]
    ignoreSubmodules = dirty
[user]
	signingkey = B8D62C41E9CD3E19
