auto-save-list
.emacs.d/backup/*
!dummy
.emacs.d/url
.emacs.d/howm
.emacs.d/ac-comphist.dat
.emacs.d/.scratch-log-prev
.emacs.d/.scratch-log
.emacs.d/recentf
.emacs.d/elpa
#.emacs.d/.cask
zsh/.zcompdump
.DS_Store
.emacs.d/conf/99_local.el
